In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Datasets/homelessness.csv')

In [3]:
data.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [6]:
# data = data.drop('Unnamed: 0', axis=1)
data.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data['state_pop_million'] = data['state_pop']/1000000

In [10]:
data.to_csv('homelessness_updated.csv')

In [11]:
#conditional filters

In [13]:
data['region'] == 'Pacific'

0     False
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37     True
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47     True
48    False
49    False
50    False
Name: region, dtype: bool

In [14]:
data[data['region'] == 'Pacific']

,region,state,individuals,family_members,state_pop,state_pop_million
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
4,Pacific,California,109008.0,20964.0,39461588,39.461588
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869

In [18]:
data[(data['state_pop']>1000000) & (data['region'] == 'Pacific')]

,region,state,individuals,family_members,state_pop,state_pop_million
4,Pacific,California,109008.0,20964.0,39461588,39.461588
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869

In [19]:
data[(data['state_pop']>1000000) & ((data['region'] == 'Pacific') | (data['region'] == 'Mountain'))]

,region,state,individuals,family_members,state_pop,state_pop_million
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
26,Mountain,Montana,983.0,422.0,1060665,1.060665
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869

In [20]:
data[(data['state_pop']>1000000) & ((data['region'] == 'Pacific') | (data['region'] == 'Mountain'))].sort_values('region')

,region,state,individuals,family_members,state_pop,state_pop_million
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
26,Mountain,Montana,983.0,422.0,1060665,1.060665
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
4,Pacific,California,109008.0,20964.0,39461588,39.461588
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869

In [23]:
data[(data['state_pop']>1000000) & ((data['region'] == 'Pacific') | (data['region'] == 'Mountain'))].sort_values(['region','individuals'])

,region,state,individuals,family_members,state_pop,state_pop_million
26,Mountain,Montana,983.0,422.0,1060665,1.060665
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
4,Pacific,California,109008.0,20964.0,39461588,39.461588

In [25]:
data['region'].value_counts()

South Atlantic        9
Mountain              8
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
West South Central    4
Mid-Atlantic          3
Name: region, dtype: int64

In [26]:
## Group by in Pandas

In [27]:
data.groupby('region')
# select * from table_name group by column_name

In [28]:
data.groupby('region').head()

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406

In [30]:
data.groupby(['region','state']).head()

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [31]:
data.groupby('region')['state_pop'].sum()

region
East North Central    46886387
East South Central    19101485
Mid-Atlantic          41217298
Mountain              24511745
New England           14829322
Pacific               53323075
South Atlantic        65229624
West North Central    21350241
West South Central    40238324
Name: state_pop, dtype: int64

In [33]:
data['state_pop'].sum()

326687501

In [34]:
data.groupby('region')['state_pop'].max()

region
East North Central    12723071
East South Central     6771631
Mid-Atlantic          19530351
Mountain               7158024
New England            6882635
Pacific               39461588
South Atlantic        21244317
West North Central     6121623
West South Central    28628666
Name: state_pop, dtype: int64

In [35]:
data.groupby('region')['state_pop'].min()

region
East North Central    5807406
East South Central    2981020
Mid-Atlantic          8886025
Mountain               577601
New England            624358
Pacific                735139
South Atlantic         701547
West North Central     758080
West South Central    3009733
Name: state_pop, dtype: int64

In [ ]:
# select region, sum(state_pop)
# from homelessness
# group by region

In [38]:
# Where + GroupBy
data[(data['region'] == 'Pacific') | (data['region'] == 'Mountain')].groupby('region')['state_pop'].sum()

24511745

In [39]:
# Where + Group By + Having
data[(data['region'] == 'Pacific') | (data['region'] == 'Mountain')].groupby('region')['state_pop'].sum()['Mountain']

24511745

## Slicing and Indexing

In [40]:
data

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [41]:
data.shape

(51, 6)

In [43]:
data['region'].unique()

array(['East South Central', 'Pacific', 'Mountain', 'West South Central',
       'New England', 'South Atlantic', 'East North Central',
       'West North Central', 'Mid-Atlantic'], dtype=object)

In [44]:
len(data['region'].unique())

9

In [45]:
len(data['state'].unique())

51

In [46]:
data.loc[0]

region               East South Central
state                           Alabama
individuals                      2570.0
family_members                    864.0
state_pop                       4887681
state_pop_million              4.887681
Name: 0, dtype: object

In [47]:
data.loc[25]

region               West North Central
state                          Missouri
individuals                      3776.0
family_members                   2107.0
state_pop                       6121623
state_pop_million              6.121623
Name: 25, dtype: object

In [52]:
data_state = data.set_index('state')

In [53]:
data_state

,region,individuals,family_members,state_pop,state_pop_million
state,,,,,
Alabama,East South Central,2570.0,864.0,4887681,4.887681
Alaska,Pacific,1434.0,582.0,735139,0.735139
Arizona,Mountain,7259.0,2606.0,7158024,7.158024
Arkansas,West South Central,2280.0,432.0,3009733,3.009733
California,Pacific,109008.0,20964.0,39461588,39.461588
Colorado,Mountain,7607.0,3250.0,5691287,5.691287
Connecticut,New England,2280.0,1696.0,3571520,3.571520
Delaware,South Atlantic,708.0,374.0,965479,0.965479
District of Columbia,South Atlantic,3770.0,3134.0,701547,0.701547
Florida,South Atlantic,21443.0,9587.0,21244317,21.244317
Georgia,South Atlantic,6943.0,2556.0,10511131,10.511131
Hawaii,Pacific,4131.0,2399.0,1420593,1.420593
Idaho,Mountain,1297.0,715.0,1750536,1.750536
Illinois,East North Central,6752.0,3891.0,12723071,12.723071
Indiana,East North Central,3776.0,1482.0,6695497,6.695497
Iowa,West North Central,1711.0,1038.0,3148618,3.148618
Kansas,West North Central,1443.0,773.0,2911359,2.911359
Kentucky,East South Central,2735.0,953.0,4461153,4.461153
Louisiana,West South Central,2540.0,519.0,4659690,4.659690
Maine,New England,1450.0,1066.0,1339057,1.339057
Maryland,South Atlantic,4914.0,2230.0,6035802,6.035802
Massachusetts,New England,6811.0,13257.0,6882635,6.882635
Michigan,East North Central,5209.0,3142.0,9984072,9.984072
Minnesota,West North Central,3993.0,3250.0,5606249,5.606249
Mississippi,East South Central,1024.0,328.0,2981020,2.981020
Missouri,West North Central,3776.0,2107.0,6121623,6.121623
Montana,Mountain,983.0,422.0,1060665,1.060665
Nebraska,West North Central,1745.0,676.0,1925614,1.925614
Nevada,Mountain,7058.0,486.0,3027341,3.027341
New Hampshire,New England,835.0,615.0,1353465,1.353465
New Jersey,Mid-Atlantic,6048.0,3350.0,8886025,8.886025
New Mexico,Mountain,1949.0,602.0,2092741,2.092741
New York,Mid-Atlantic,39827.0,52070.0,19530351,19.530351
North Carolina,South Atlantic,6451.0,2817.0,10381615,10.381615
North Dakota,West North Central,467.0,75.0,758080,0.758080
Ohio,East North Central,6929.0,3320.0,11676341,11.676341
Oklahoma,West South Central,2823.0,1048.0,3940235,3.940235
Oregon,Pacific,11139.0,3337.0,4181886,4.181886
Pennsylvania,Mid-Atlantic,8163.0,5349.0,12800922,12.800922
Rhode Island,New England,747.0,354.0,1058287,1.058287
South Carolina,South Atlantic,3082.0,851.0,5084156,5.084156
South Dakota,West North Central,836.0,323.0,878698,0.878698
Tennessee,East South Central,6139.0,1744.0,6771631,6.771631
Texas,West South Central,19199.0,6111.0,28628666,28.628666
Utah,Mountain,1904.0,972.0,3153550,3.153550
Vermont,New England,780.0,511.0,624358,0.624358
Virginia,South Atlantic,3928.0,2047.0,8501286,8.501286
Washington,Pacific,16424.0,5880.0,7523869,7.523869
West Virginia,South Atlantic,1021.0,222.0,1804291,1.804291
Wisconsin,East North Central,2740.0,2167.0,5807406,5.807406
Wyoming,Mountain,434.0,205.0,577601,0.577601

In [55]:
data_state.loc['Utah']

region               Mountain
individuals            1904.0
family_members          972.0
state_pop             3153550
state_pop_million     3.15355
Name: Utah, dtype: object

In [57]:
data_state.loc[['Utah','Texas']]

,region,individuals,family_members,state_pop,state_pop_million
state,,,,,
Utah,Mountain,1904.0,972.0,3153550,3.153550
Texas,West South Central,19199.0,6111.0,28628666,28.628666

In [58]:
data_state.loc[['Utah','Texas'],['region']]

                   region
state
Utah             Mountain
Texas  West South Central

In [59]:
data_state.loc[['Utah','Texas'],['region', 'state_pop']]

                   region  state_pop
state
Utah             Mountain    3153550
Texas  West South Central   28628666

In [63]:
data.iloc[0]

region               East South Central
state                           Alabama
individuals                      2570.0
family_members                    864.0
state_pop                       4887681
state_pop_million              4.887681
Name: 0, dtype: object

In [64]:
data.iloc[0:5]

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588

In [65]:
data.iloc[-1]

region               Mountain
state                 Wyoming
individuals             434.0
family_members          205.0
state_pop              577601
state_pop_million    0.577601
Name: 50, dtype: object

In [66]:
data.iloc[0:5, 0]

0    East South Central
1               Pacific
2              Mountain
3    West South Central
4               Pacific
Name: region, dtype: object

In [67]:
data.iloc[0:5, [0,4]]

               region  state_pop
0  East South Central    4887681
1             Pacific     735139
2            Mountain    7158024
3  West South Central    3009733
4             Pacific   39461588

In [68]:
# 2 row- 10th row all columns
data.iloc[1:10]
# 2nd index - 10th index all columns
data.iloc[2:11]

,region,state,individuals,family_members,state_pop,state_pop_million
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131

In [69]:
data.iloc[2:11, [2,3]]

    individuals  family_members
2        7259.0          2606.0
3        2280.0           432.0
4      109008.0         20964.0
5        7607.0          3250.0
6        2280.0          1696.0
7         708.0           374.0
8        3770.0          3134.0
9       21443.0          9587.0
10       6943.0          2556.0